/* Stile degli elementi "html" e "body": */
html, body {
  height: 100%;
  background-color: #333;
  scroll-behavior: smooth;
}

/* --- INIZIO DELLO STILE DELLA BARRA DI NAVIGAZIONE (MENÙ): --- */

/* Stile della lista non ordinata (unordered list): */
ul {
  z-index: 2;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
}

/* Stile dei singoli elementi della lista: */
li {
  float: left;
}

/* Stile dei link che costituiscono i singoli elementi della lista: */
li a {
  display: block;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

/* Stile dei link che costituiscono i singoli elementi della lista al momento del passaggio del mouse su di essi: */
li a:hover {
  background-color: #4CAF50;
}

/* Stile della classe "active" (aggiunta agli elementi della lista in base alla posizione dello scroll nella pagina mediante il sistema "scrollspy"): */
.active {
  background-color: #4CAF50;
}

/* Stile dell'immagine in alto a destra nella barra di navigazione, utile per permettere all'utente di accedere alla propria area riservata: */
img#userIcon {
  cursor: pointer;
  position: fixed;
  left: 96.4%;
  z-index: 2;
  width: 70px;
  height: 70px;
  background-color: #4CAF50;
}

/* --- FINE DELLO STILE DELLA BARRA DI NAVIGAZIONE (MENÙ) --- */

/* INIZIO DELLO STILE DELLA SCHERMATA INIZIALE DI BENVENUTO: */

/* Stile della sezione introduttiva della pagina "index.html": */
div#welcomeDiv {
  width: 400px;
  height: 500px;  
}

/* Stile dell'immagine utilizzata nella sezione introduttiva della pagina "index.html: "*/
div#welcomeDiv img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;     
}

/* Stile del titolo presente all'interno del blocco con id "welcomeDiv", visualizzabile nella pagina iniziale di benvenuto: */
div#welcomeDiv h1 {
  font-size: 120px;
  top: 7%;
}

/* Stile del testo semplice presente all'interno del blocco con id "welcomeDiv", visualizzabile nella pagina iniziale di benvenuto: */
div#welcomeDiv p {
  font-size: 30px;
  top: 22%;
}

/* Stile comune al titolo e al testo semplice presenti all'interno del blocco con id "welcomeDiv", visualizzabili nella pagina iniziale di benvenuto:*/
div#welcomeDiv h1, p {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 2;
}

/* Stile dei blocchi aventi come classe una stringa che termina con la sottostringa "Arrow" (ovvero i due blocchi corrispondenti alle due frecce visualizzabili nella schermata iniziale di benvenuto): */
div[class$="Arrow"] {
  display: inline-block;
  position: relative;
  margin-top: 290px;
  width: 200px;
}

/* Stile del blocco, contenuto nella freccia di sinistra, avente come classe la stringa "line" (ovvero il blocco corrispondente alla parte centrale della freccia di sinistra nella schermata iniziale di benvenuto): */
div.leftArrow div.line {
  margin-left: 100px;
  margin-bottom: 10px;
}

/* Stile del blocco, contenuto nella freccia di destra, avente come classe la stringa "line" (ovvero il blocco corrispondente alla parte centrale della freccia di destra nella schermata iniziale di benvenuto): */
div.rightArrow div.line {
  margin-right: -1530px;
  margin-top: -50px;
}

/* Stile comune ad entrambi i blocchi, contenuti all'interno della rispettiva freccia, aventi come classe la stringa "line" (ovvero i due blocchi che costituiscono la parte centrale delle due frecce visualizzabili nella schermata iniziale di benvenuto): */
div[class$="Arrow"] div.line {
  width: 600px;
  background: #00ccff;
  height: 50px;
}

/* Stile del blocco corrispondente alla parte centrale della freccia di sinistra, avente come classe la stringa "line": */
div.leftArrow .line {
  float: left;
}

/* Stile del blocco corrispondente alla parte centrale della freccia di destra, avente come classe la stringa "line": */
div.rightArrow .line {
  float: right;
}

/* Stile comune alle punte di entrambe le frecce (i cui blocchi hanno come classe una stringa che termina con la sottostringa "Arrow"): */
div[class$="Arrow"] .point {
  position: relative;
  display: inline-block;
  margin-left: 700px;
  margin-top: -75px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

/* Stile del blocco corrispondente alla punta della freccia di sinistra, avente come classe la stringa "point": */
div.leftArrow .point {
  border-left: 80px solid #00ccff;
  margin-top: -180px;
  margin-bottom: 3px;
}

/* Stile del blocco corrispondente alla punta della freccia di destra, avente come classe la stringa "point": */
div.rightArrow .point {
  border-right: 80px solid #00ccff;
  margin-left: 1050px;
}

/* Stile dell'immagine della pallina da tennis (avente come id la stringa "tennisBallButton") utilizzata per permettere all'utente di essere subito portato al corpo della pagina:*/
img#tennisBallButton {
  width: 17.5%;
  height: 35%;
  position: absolute;
  left: 42%;
  bottom: -2%;
}

/* Animazione associata alla pallina da tennis nella sezione introduttiva della pagina "index.html": */
@keyframes spin {

  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}

/* Stile della pallina da tennis quando il cursore è posizionato sopra di essa: */
img#tennisBallButton:hover {
  cursor: pointer;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

/* Stile comune ai due tipi di titoli più grandi: */
h1, h2 {
  text-align: center;
}

/* Stile dei blocchi aventi come classe la stringa "presentationDiv" (ovvero i box adiacenti alla linea del tempo nella sezione dedicata alla storia): */
div.presentationDiv {
  width: 100%;
  height: 1000px;
}

/* Stile dei titoli contenuti all'interno dei blocchi aventi come classe la stringa "presentationDiv" (ovvero i box adiacenti alla linea del tempo nella sezione dedicata alla storia): */
div.presentationDiv h2 {
  font-size: 50px;
  padding-top: 1%;
  color: #fff;
}

/* --- FINE DELLO STILE DELLA SCHERMATA INIZIALE DI BENVENUTO --- */

/* Stile dell'article della pagina: */
article {
  text-align: center;
}

/* Stile dei blocchi aventi come classe la stringa "reveal" (ovvero i blocchi che dovranno comparire al momento dello scroll dell'utente): */
div.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

/* Stile dei blocchi aventi come classi sia la stringa "reveal" che la stringa "displayed" (ovvero i blocchi che sono attualmente visualizzati dall'utente): */
div.reveal.displayed {
  transform: translateY(0);
  opacity: 1;
}

/* --- INIZIO DELLO STILE DELLA SEZIONE DEDICATA ALLA STORIA: --- */

/* Definizione dell'altezza della sezione che presenta la storia del tennis: */
div#historyPresentationDiv {
  height: 2870px;
}

/* Stile della linea del tempo (la linea verticale arancione): */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 0;
}

/* Stile della linea del tempo (la linea verticale arancione): */
.timeline::after {
  content: '';
  position: absolute;
  width: 20px;
  background-color: #ffa500;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

/* Stile dei blocchi aventi come classe "container": */
.container {
  padding: 10px 60px;
  position: relative;
  background-color: inherit;
  width: 50%;
  height: 300px;
}

/* Definizione dello stile dei cerchi sulla timeline: */
div.container::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  right: -35px;
  background-color: #ffff00;
  border: 4px solid #ffffff;
  top: 15px;
  border-radius: 50%;
  z-index: 2;
}

/* Permette il corretto allineamento a sinistra dei box sulla timeline: */
div.left {
  left: -25.3%;
}

/* Permette il corretto allineamento a destra dei box sulla timeline: */
div.right {
  right: -25.3%;
}

/* Stile dei triangolini rivolti verso destra che costituiscono la punta dei box adiacenti alla linea del tempo dalla parte sinistra, nella sezione dedicata alla storia: */
div.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
  right: 45px;
  border: medium solid white;
  border-width: 30px 0 30px 30px;
  border-color: transparent transparent transparent white;
}

/* Stile dei triangolini rivolti verso sinistra che costituiscono la punta dei box adiacenti alla linea del tempo dalla parte destra, nella sezione dedicata alla storia: */
div.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 1;
  left: 45px;
  border: medium solid white;
  border-width: 30px 30px 30px 0;
  border-color: transparent white transparent transparent;
}

/* Specifica della posizione dei cerchi relativi ai box adiacenti alla linea del tempo dalla parte destra, nella sezione dedicata alla storia: */
div.right::after {
  left: -22px;
}

/* Stile dei box adiacenti alla timeline contenenti il testo e le immagini: */
div.content {
  text-align: center;
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  height: 300px;
}

/* Stile del testo semplice contenuto all'interno dei box adiacenti alla timeline: */
div.content p {
  color: #000000;
}

/* --- FINE DELLO STILE DELLA SEZIONE DEDICATA ALLA STORIA --- */

/* Definizione dell'altezza della sezione dedicata alla presentazione delle regole: */
div#rulesPresentationDiv {
  height: 10700px;
}

/* Stile dei blocchi aventi come classe la stringa "flexboxContainer": */
div.flexboxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 30px;
}

/* Stile dei blocchi aventi come classe la stringa "cards": */
div.cards {
  background-color: #ffffff;
  width: 20%;
  transition: all 0.2s ease;
}

/* Stile dei titoli più piccoli contenuti all'interno dei blocchi corrispondenti alle carte: */
div.cards h5 {
  margin-left: 13px;
  margin-right: 13px;
}

/* Stile dei blocchi aventi come classe la stringa "cards" (ovvero i blocchi corrispondenti alle carte) al momento del passaggio del mouse su di essi: */
div.cards:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

/* Definizione dell'altezza della sezione dedicata alla presentazione dei diversi colpi:*/
div#shotsExplanationDiv {
  height: 5780px;
}

/* Definizione dell'altezza della sezione che presenta i migliori giocatori: */
div#bestPlayersPresentationDiv {
  height: 7550px;
}

/* Definizione dell'altezza della sezione che presenta alcune curiosità: */
div#curiositiesPresentationDiv {
  height: 1340px;
}

/* --- INIZIO DELLO STILE DELLE CARD CAPOVOLGIBILI: --- */

/* Stile dei blocchi aventi come classe la stringa "flip-card" (ovvero i blocchi corrispondenti alle carte capovolgibili): */
div.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px;
}

/* --- INIZIO DELLO STILE DELLE CARTE CAPOVOLGIBILI UTILIZZATE PER LA SPIEGAZIONE DEI COLPI: --- */

/* Stile dei blocchi aventi come classi entrambe le stringhe "flip-card" e "shotExplanation" (ovvero i blocchi corrispondenti alle carte utilizzate per presentare i vari colpi): */
div.flip-card.shotExplanation {
  width: 450px;
  height: 450px;
}

/* Stile delle immagini contenute all'interno dei blocchi corrispondenti alle carte utilizzate per presentare i vari colpi: */
div.flip-card.shotExplanation img {
  width: 325px;
  height: 325px;
}

/* Stile dei titoli più piccoli contenuti all'interno dei blocchi corrispondenti alle carte utilizzate per presentare i vari colpi: */
div.flip-card.shotExplanation h3 {
  position: relative;
  margin-top: 25px;
}

/* Stile dei paragrafi semplici contenuti all'interno dei blocchi corrispondenti alle carte utilizzate per presentare i vari colpi: */
div.flip-card.shotExplanation p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* --- FINE DELLO STILE DELLE CARTE CAPOVOLGIBILI UTILIZZATE PER LA SPIEGAZIONE DEI COLPI: --- */

/* Stile dei titoli più grandi contenuti all'interno dei blocchi corrispondenti alle carte capovolgibili: */
div.flip-card h1 {
  font-size: 30px;
}

/* Stile dei paragrafi semplici contenuti all'interno dei blocchi corrispondenti alle carte capovolgibili: */
div.flip-card p {
  font-size: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Stile delle immagini contenute all'interno dei blocchi corrispondenti alle carte capovolgibili: */
div.flip-card img {
  position: relative;
  top: 7%;
}

/* Stile dei blocchi aventi come classe la stringa "flip-card-inner" (ovvero i blocchi corrispondenti al contenuto vero e proprio delle carte capovolgibili): */
div.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Stile comune ai blocchi aventi come classe la stringa "flip-card" (ovvero i blocchi corrispondenti alle carte capovolgibili) al momento del passaggio del mouse su di essi e dei blocchi aventi come classe la stringa "flip-card-inner" (ovvero i blocchi corrispondenti al contenuto vero e proprio delle carte capovolgibili): */
div.flip-card:hover div.flip-card-inner {
  transform: rotateY(180deg);
}

/* Stile comune ai blocchi aventi come classe la stringa "flip-card-front" (ovvero i blocchi corrispondenti alla parte anteriore delle carte capovolgibili) e a quelli aventi come classe la stringa "flip-card-back" (ovvero i blocchi corrispondenti alla parte posteriore delle carte capovolgibili): */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Stile dei blocchi aventi come classe la stringa "flip-card-front" (ovvero i blocchi corrispondenti alla parte frontale delle carte capovolgibili): */
div.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Stile dei blocchi aventi come classe la stringa "flip-card-back" (ovvero i blocchi corrispondenti alla parte posteriore delle carte capovolgibili): */
div.flip-card-back {
  background-color: #2980b9;
  color: #fff;
  transform: rotateY(180deg);
}

/* --- FINE DELLO STILE DELLE CARTE CAPOVOLGIBILI --- */

div#onlineShopPresentationDiv {
  height: 450px;
}

/* --- INIZIO DELLO STILE RELATIVO ALLE PAGINE "login.PHP" E "registration.PHP": --- */

/* Stile degli elementi "html" aventi come classe la stringa "signinPage": */
html.signinPage {
  background-color: transparent;
}

/* Stile degli elementi "body" aventi come classe la stringa "signinBody": */
body#signinBody, body#registrationBody {
  background-color: transparent;
  background-size: cover;
  box-sizing: border-box;
}

/* Stile dell'elemento "body" della pagina di login ("login.php"): */
body#signinBody {
  background-image: url("Images/General/grassCourtFromAbove.jpg");
}

/* Stile dell'elemento "body" della pagina di registrazione ("registration.php"): */
body#registrationBody {
  background-image: url("Images/General/stadium.jpg");
  height: 1250px;
}

/* Stile delle immagini contenute all'interno dei link inseriti nella barra di navigazione: */
nav a img {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

/* Stile comune ad entrambi i blocchi corrispondenti ai contenitori dei form di login e registrazione: */
div#loginContainer, div#registrationContainer {
  position: relative;
  text-align: center;
  border-radius: 15px;
}

/* Stile del blocco avente come id la stringa "loginContainer" (ovvero il blocco corrispondente al contenitore più esterno, di colore giallo, del form di login): */
div#loginContainer {
  background-color: #FEE715;
  margin-top: 0%;
  left: 35%;
  width: 630px;
  height: 650px;
}

/* Stile del blocco avente come id la stringa "registrationContainer" (ovvero il blocco corrispondente al contenitore più esterno, di colore rosso, del form di registrazione): */
div#registrationContainer {
  background-color: #ff0000;
  margin-top: -6%;
  left: 27%;
  width: 1000px;
  height: 1200px;
}

/* Stile dei titoli contenuti all'interno dei blocchi corrispondenti alle finestre di sign in: */
div#loginContainer h2, div#registrationContainer h2 {
  font-size: 50px;
  font-family: sans-serif;
  color: #101820;
}

/* Stile delle descrizioni affiancate ai campi input contenuti nelle pagine di registrazione ("registrazioneUtente.php", "registrazioneAutore.php", "registrazioneEditore.php" e "registrazioneLibro.php") e ricerca ("ricercaPerAutore.php", "ricercaPerEditore.php" e "ricercaPerAttributi.php"): */
label {
  font-size: 30px;
}

/* Stile delle descrizioni affiancate a tutti gli input di tipo "radio": */
label.radioLabel {
  font-size: 20px;
  float: right;
}

/* Stile dei form aventi come classe la stringa "formPersonalizzato" (ovvero i form di login e registrazione): */
form.formPersonalizzato {
  display: inline-block;
  width: 50vw;
  padding: 2rem 4rem;
  border-radius: 20px;
}

/* Stile dei form aventi come classe la stringa "formPersonalizzato" contenuti all'interno di blocchi aventi come classe la stringa "loginContainer" (ovvero il form di login): */
div#loginContainer form.formPersonalizzato {
  background-color: #101820;
  max-width: 70%;
}

/* Stile dei form aventi come classe la stringa "formPersonalizzato" contenuti all'interno di blocchi aventi come classe la stringa "registrationContainer" (ovvero il form di registrazione): */
div#registrationContainer form.formPersonalizzato {
  background-color: #0000ff;
  max-width: 80%;
}

/* Stile dei blocchi aventi come classe la stringa "gruppoInput": */
.gruppoInput {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

/* Stile delle descrizioni dei campi input contenute all'interno di blocchi aventi come classe la stringa "gruppoInput": */
.gruppoInput label {
  color: #fff;
  font-family: tahoma;
}

/* Stile degli elementi "span" contenuti all'interno di blocchi aventi come classe la stringa "gruppoInput": */
.gruppoInput span {
  color : #888;
  font-family : tahoma;
  font-size: 11px;
}

/* Stile dei blocchi aventi come classe la stringa "contenitoreInputIcona": */
.contenitoreInputIcona {
  display: flex;
  flex-direction: row;
  border: 2px solid #374669;
  border-radius: 5px;
  background: #ffffff;
  color: #000000;
  align-items: center;
  overflow: hidden;
}

/* Stile degli elementi aventi come classe la stringa "errore": */
.errore {
  border: 3px solid #ff0000;
  background-color: #fdd3d3;
}

/* Stile dei campi input contenuti all'interno dei blocchi aventi come classe la stringa "contenitoreInputIcona": */
.contenitoreInputIcona input {
  max-width : 250px;
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  padding: .5em;
  color: inherit;
  background : none;
  background-color : transperant;
}

/* Stile delle icone aventi come classe la stringa "fa" e contenute all'interno di blocchi di classe "contenitoreInputIcona": */
.contenitoreInputIcona .fa {
  padding : 20px;
}

/* Stile delle icone aventi come classe la stringa "fa-check": */
.fa-check {
  color: #00ff00;
}

/* Stile delle icone aventi come classe la stringa "fa-times": */
.fa-times {
  color: #ff0000;
}

/* Stile delle icone aventi come classe la stringa "inputIcon": */
i.inputIcon {
  color: #ffffff;
  background-color: #374669;
}

/* Stile degli input di tipo "date" (ovvero le date da inserire): */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Stile degli input di tipo "checkbox" (ovvero le caselle da spuntare): */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* Stile comune alle icone aventi come classi le stringhe "fa" e "fa-eye" o "fa-eye-slash" al momento del passaggio del mouse: */
.fa.fa-eye:hover, .fa.fa-eye-slash:hover {
  cursor: pointer;
}

/* Stile dei paragrafi aventi come classe la stringa "avvertimenti": */
p.avvertimenti {
  font-size: 25px;
  font-weight: bold;
  color: #ff0000;
}

/* Stile dei paragrafi aventi come classe la stringa "conferme": */
p.conferme {
  font-size: 25px;
  font-weight: bold;
  color: #00ff00;
}

/* Classe che definisce lo stile dei bottoni utili per effettuare la registrazione di un autore, un editore o un libro all'interno del database della biblioteca: */
button.bottoniInvioForm {
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  background-color: #00ff00;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 9px #666;
}

/* Classe che definisce lo stile "hover" (presenza del cursore sopra al bottone) dei bottoni utili per effettuare la registrazione o il login di un utente all'interno del database: */
button.bottoniInvioForm:hover {
  cursor: pointer;
  background-color: #00ff00;
}

/* Classe che definisce lo stile "active" (pressione del bottone) dei bottoni utili per effettuare la registrazione o il login di un utente all'interno del database: */
button.bottoniInvioForm:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Stile dei paragrafi di avvertimento utilizzati per comunicare all'utente eventuali errori durante la registrazione o l'accesso: */
p.avvertimenti {
  color: #ff0000;
}

/* Stile del bottone utilizzato per confermare il login (e quindi l'accesso alla propria area riservata): */
button#bottoneConfermaLogin {
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #00ff00;
}

/* --- FINE DELLO STILE RELATIVO ALLE PAGINE "registration.PHP" E "login.PHP" ---*/

/* --- INIZIO DELLO STILE RELATIVO ALLE PAGINE "tennisShop.php" E "dashboard.php": --- */

/* Stile delle sezioni "article" nelle pagine "tennisShop.php" e "dashboard.php": */
article#tennisShopArticle, article#dashboardArticle {
  background-color: #000000;
}

/* Stile dei blocchi aventi come classe la stringa "articlesContainer" (ovvero il blocco principale contenente i vari blocchi con all'interno i diversi articoli visualizzabili dall'utente): */
.articlesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000000;
}

/* Stile dei blocchi aventi come classe la stringa "shopArticle" (ovvero i blocchi contenenti i vari articoli visualizzabili e salvabili dall'utente): */
div.shopArticle {
  flex: 1;
  height: fit-content;
  background-color: #0066cc;
}

/* Stile dei paragrafi di testo contenuti all'interno dei blocchi aventi come classe la stringa "shopArticle" (ovvero i blocchi contenenti i vari articoli visualizzabili e salvabili dall'utente)*/
div.shopArticle p {
  position: inherit;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Stile delle parole evidenziate in grassetto all'interno dei paragrafi di testo contenuti nei blocchi aventi come classe la stringa "shopArticle" (ovvero i blocchi contenenti i vari articoli visualizzabili e salvabili dall'utente): */
div.shopArticle p b {
  color: #000000;
}

/* Stile delle immagini contenute all'interno dei blocchi aventi come classe la stringa "shopArticle" (ovvero i blocchi contenenti i vari articoli visualizzabili e salvabili dall'utente): */
div.shopArticle img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  height: 200px;
}

/*Stile dei bottoni contenuti all'interno dei blocchi aventi come classe la stringa "shopArticle" (ovvero i blocchi contenenti i vari articoli visualizzabili e salvabili dall'utente): */
div.shopArticle button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100px;
  height: 100px; 
}

/* Stile delle icone all'interno dei vari bottoni contenuti nei blocchi aventi come classe la stringa "shopArticle" (ovvero i blocchi contenenti i vari articoli visualizzabili e salvabili dall'utente): */
div.shopArticle button i {
  cursor: pointer;
  font-size: 100px;
  margin-top: -20px;
}

/* Stile delle icone aventi come classe la stringa "favourite" (ovvero le icone a forma di cuore cliccate dall'utente per aggiungere un prodotto ai preferiti): */
i.favourite {
  color: #ff0000;
}

/* Stile dei blocchi aventi come classe la stringa "break" (ovvero i blocchi utili per andare a capo all'interno di un blocco di classe "flexboxContainer"): */
.break {
  flex-basis: 100%;
  height: 0;
}

/* Stile del blocco avente come id la stringa "dashboardLinkContainer" (ovvero il blocco presente alla fine della pagina "tennisShop.php", contenente un semplice sottotitolo e un icona con un link alla pagina "dashboard.php"): */
div#dashboardLinkContainer {
  height: 270px;
}

/* Stile dei sottotitoli presenti alla fine delle pagine "tennisShop.php" e "dashboard.php": */
h2.linkHeading {
  color: #00ff00;
  padding-top: 20px;
}

/* Stile dell'immagine avente come id la stringa "shoppingCartIcon" (ovvero l'immagine presente alla fine della pagina "tennisShop.php", contenuta all'interno del blocco di id "dashboardLinkContainer" e all'interno di un link alla pagina "dashboard.php"): */
img#shoppingCartIcon {
  cursor: pointer;
  width: 150px;
  height: 150px;
}

/* Stile del blocco avente come id la stringa "personalInformationContainer" (ovvero il blocco presente all'inizio della pagina "dashboard.php", contenente tutte le informazioni personali inserite dall'utente al momento della registrazione, ad eccezione della password): */
div#personalInformationContainer {
  padding-top: 20px;
}

/* Stile dei paragrafi di testo contenuti all'interno del blocco avente come id la stringa "personalInformationContainer" (ovvero il blocco presente all'inizio della pagina "dashboard.php", contenente tutte le informazioni personali inserite dall'utente al momento della registrazione, ad eccezione della password): */
div#personalInformationContainer p {
  font-size: 25px;
}

/* Stile delle parole evidenziate in grassetto all'interno dei paragrafi di testo contenuti nel blocco avente come id la stringa "personalInformationContainer" (ovvero il blocco presente all'inizio della pagina "dashboard.php", contenente tutte le informazioni personali inserite dall'utente al momento della registrazione, ad eccezione della password): */
div#personalInformationContainer p b {
  color: #0099ff;
}

/* Stile dei bottoni aventi come classe la stringa "removeFromFavouritesButton" (ovvero i bottoni, contenuti nella pagina "dashboard.php", che permettono all'utente di rimuovere un prodotto dai preferiti): */
button.removeFromFavouritesButton {
  width: 300px !important;
  height: 50px !important;
  font-size: 23px !important;
  font-family: monospace !important;
  font-weight: bold !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  border-radius: 10px !important;
  background-color: #ff0000 !important;
}

/* Stile del blocco avente come id la stringa "emptyFavouritesButtonContainer" (ovvero il blocco, contenuto nella pagina "dashboard.php", contenente il bottone che permette all'utente di rimuovere tutti i prodotti dai preferiti contemporaneamente): */
div#emptyFavouritesButtonContainer {
  height: 200px;
}

/* Stile del bottone avente come id la stringa "emptyFavouritesButtonContainer" (ovvero il bottone, contenuto nella pagina "dashboard.php"), che permette all'utente di rimuovere tutti i prodotti dai preferiti contemporaneamente: */
button#emptyFavouritesButton {
  margin-top: 40px;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ff0000;
  box-shadow: 0 9px #666;
}

/* Stile del bottone avente come id la stringa "emptyFavouritesButton" (ovvero il bottone, contenuto nella pagina "dashboard.php", contenente il bottone che permette all'utente di rimuovere tutti i prodotti dai preferiti contemporaneamente) al momento dell'attivazione: */
button#emptyFavouritesButton:active {
  background-color: #cc3300;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Stile del blocco avente come id la stringa "onlineShopLinkContainer" (ovvero il blocco, presente alla fine della pagina "dashboard.php", contenente un semplice sottotitolo e un immagine con un link alla pagina "tennisShop.php"): */
div#onlineShopLinkContainer {
  position: relative;
  margin-top: -20px;
  height: 370px;
}

/* --- FINE DELLO STILE RELATIVO ALLE PAGINE "tennisShop.php" e "dashboard.php" ---*/

/* --- INIZIO DELLO STILE DEI FOOTER DELLE PAGINE: --- */

/* Stile del blocco che costituisce il footer vero e proprio: */
footer {
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 150px;
}

/* Stile dei paragrafi semplici contenuti all'interno del footer: */
footer p {
  font-size: 30px;
  color: #000000;
}

/* Stile dei link contenuti all'interno del footer: */
footer a {
  font-size: 30px;
}

/* --- FINE DELLO STILE DEI FOOTER DELLE PAGINE ---*/